@model IEnumerable<Application.Models.UserDto>
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

@foreach (var item in Model)
{
    <div>
        <h4>User: @item.FirstName @item.LastName</h4>
        <p>Id: @item.Id</p>
        <p>Username: @item.Username</p>
        <p>E-mail: @item.Email</p>
        <p>Is Active: @item.IsActive</p>
        <p>
            User Roles:
            @string.Join(", ", item.UserRoles.Select(ur => ur.Role.Name))
        </p>
    </div>
}

