@using Application.Incident.Queries.GetIncidentById
@model IncidentByIdModel

<div class="mt-5 mb-5">
    <div class="row justify-content-center">
        <div class="col-8">
            <div class="card">
                <div class="card-header bg-primary text-white text-center">
                    <h3>Incident Details</h3>
                </div>
                <div class="card-body">

                    @using (Html.BeginForm("UpdateAsync", "Admin", FormMethod.Post, new { id = "editUserForm" }))
                    {
                        @Html.AntiForgeryToken()


                        <div class="row">
                            <div class="col-6">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.CallCode, "Call Code")
                                    @Html.TextBoxFor(model => model.CallCode, new { @class = "form-control" })
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.SubsystemCode, "Subsystem Code")
                                    @Html.TextBoxFor(model => model.SubsystemCode, new { @class = "form-control" })
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-6">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.RequestType, "Request Type")
                                    @Html.TextBoxFor(model => model.RequestType, new { @class = "form-control" })
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.ApplicationType, "Application Type")
                                    @Html.TextBoxFor(model => model.ApplicationType, new { @class = "form-control" })
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-6">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.OpenedDate, "Opened Date")
                                    @Html.TextBoxFor(model => model.OpenedDate, new { @class = "form-control" })
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.ClosedDate, "Closed Date")
                                    @Html.TextBoxFor(model => model.ClosedDate, new { @class = "form-control" })
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-6">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.Urgency, "Urgency")
                                    @Html.TextBoxFor(model => model.Urgency, new { @class = "form-control" })
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.SubCause, "Sub Cause")
                                    @Html.TextBoxFor(model => model.SubCause, new { @class = "form-control" })
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-12">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.Summary, "Summary")
                                    @Html.TextBoxFor(model => model.Summary, new { @class = "form-control" })
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-12">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.Description, "Description")
                                    @Html.TextAreaFor(model => model.Description, new { @class = "form-control" })
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-6">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.Solution, "Solution")
                                    @Html.TextBoxFor(model => model.Solution, new { @class = "form-control" })
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.OriginId, "Origin")
                                    @Html.DropDownListFor(model => model.OriginId, (IEnumerable<SelectListItem>)ViewBag.OriginList, new { @class = "form-control form-select" })
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-6">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.AmbitId, "Ambit")
                                    <select class="form-control form-select" id="AmbitId" name="AmbitId">
                                        <option value="" selected>Select Ambit</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.IncidentTypeId, "Incident Type")
                                    <select class="form-control form-select" id="IncidentTypeId" name="IncidentTypeId">
                                        <option value="" selected>Select Incident Type</option>
                                    </select>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-6">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.ScenarioId, "Scenario")
                                    @Html.DropDownListFor(model => model.ScenarioId, (IEnumerable<SelectListItem>)ViewBag.ScenarioList, new { @class = "form-control form-select" })
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.ThreatId, "Threat")
                                    @Html.DropDownListFor(model => model.ThreatId, (IEnumerable<SelectListItem>)ViewBag.ThreatList, new { @class = "form-control form-select" })
                                </div>
                            </div>
                        </div>

                        <div class="row mt-3 mb-3">
                            <div class="col-6">
                                <div class="form-group d-flex justify-content-end">
                                    <input type="submit" value="Add" class="btn btn-primary">
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="form-group d-flex justify-content-start">
                                    <a href="#Dashboard" class="btn btn-secondary">Back to list</a>
                                </div>
                            </div>
                        </div>

                    }
                </div>
            </div>
        </div>
    </div>
</div>

<script type="module">
   import { GetUpdateAsync } from '@Url.Content("~/IDCore.JS/Views/Dashboard/GetCreateAsync")';
   GetCreateAsync();
</script>
